
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="images/c1.jpg" class="w-full r-t" alt="Washed Out">
          <div class="bottom text-white p">
            Title
          </div>
        </div>
        <a md-ink-ripple class="md-btn md-raised md-fab brown m-r md-fab-offset pull-right"><span class="text-white">23</span></a>
        <div class="p">
          <h3>Paracosm</h3>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="images/c2.jpg" class="w-full r-t" alt="Washed Out">
          <div class="bottom text-white p">
            Title
          </div>
        </div>
        <button md-ink-ripple class="md-btn md-fab md-raised bg-white m-r md-fab-offset pull-right">100</button>
        <div class="p">
          <h3>Paracosm</h3>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="images/c3.jpg" class="w-full r-t" alt="Washed Out">
          <div class="bottom text-white p">
            Single Title
          </div>
        </div>
        <button md-ink-ripple class="md-btn md-fab green m-r md-fab-offset pull-right"><i class="mdi-action-favorite i-24"></i></button>
        <div class="p">
          <h3>Paracosm</h3>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="images/c4.jpg" class="w-full r-t" alt="Washed Out">
        </div>
        <button md-ink-ripple class="md-btn md-fab md-raised indigo m-r md-fab-offset pull-right">100</button>
        <div class="p">
          <h3>Paracosm</h3>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="images/c5.jpg" class="w-full r-t" alt="Washed Out">
        </div>
        <button md-ink-ripple class="md-btn md-fab md-raised pink m-r md-fab-offset pull-right"><i class="mdi-content-add i-24"></i></button>
        <div class="p">
          <h3>Paracosm</h3>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="item">
          <img src="images/c6.jpg" class="w-full r-t" alt="Washed Out">
        </div>
        <button md-ink-ripple class="md-btn md-fab md-raised green-100 m-r md-fab-offset pull-right"><i class="mdi-content-add i-24"></i></button>
        <div class="p">
          <h3>Paracosm</h3>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </div>
      </div>
    </div>
  </div>
