
  <div class="row">
    <div class="col-sm-6">
      <h5>Basic</h5>
      <div class="md-list md-whiteframe-z0 bg-white m-b">
        <div class="md-list-item">
          <div class="md-list-item-left">
            <img src="images/a0.jpg" class="w-full circle">
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
        <div class="md-list-item">
          <div class="md-list-item-left">
            <img src="images/a1.jpg" class="w-full circle">
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
        <div class="md-list-item">
          <div class="md-list-item-left">
            <img src="images/a2.jpg" class="w-full circle">
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
        <div class="md-list-item">
          <div class="md-list-item-left">
            <img src="images/a3.jpg" class="w-full circle">
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
        <div class="md-list-item">
          <div class="md-list-item-left">
            <img src="images/a4.jpg" class="w-full circle">
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
        <div class="md-list-item">
          <div class="md-list-item-left">
            <img src="images/a5.jpg" class="w-full circle">
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
        <div class="md-list-item">
          <div class="md-list-item-left">
            <img src="images/a6.jpg" class="w-full circle">
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
        <div class="md-list-item">
          <div class="md-list-item-left">
            <img src="images/a7.jpg" class="w-full circle">
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
      </div>
      <h5>Divider inset</h5>
      <div class="md-list md-whiteframe-z0 bg-white m-b">
        <div class="md-list-item inset">
          <div class="md-list-item-left">
            <img src="images/a2.jpg" class="w-full circle">
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
        <div class="md-list-item inset">
          <div class="md-list-item-left circle bg-light">
            <i class="mdi-action-grade i-24 text-muted"></i>
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h5>Text &amp; Icon</h5>
      <div class="md-list md-whiteframe-z0 bg-white m-b">
        <div class="md-list-item">
          <div class="md-list-item-left circle green">
            <i class="mdi-action-grade i-24"></i>
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
        <div class="md-list-item">
          <div class="md-list-item-left circle indigo">
            <span class="font-thin text-lg">C</span>
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Ci Chan</small>
          </div>
        </div>
        <div class="md-list-item">
          <div class="md-list-item-left circle pink">
            <span class="font-thin text-lg">L</span>
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Lin Li Chan</small>
          </div>
        </div>
        <div class="md-list-item">
          <div class="md-list-item-left circle teal">
            <span class="font-thin text-lg">A</span>
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
        <div class="md-list-item">
          <div class="md-list-item-left circle teal">
            <span class="font-thin text-lg">M</span>
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
        <div class="md-list-item">
          <div class="md-list-item-left circle teal">
            <span class="font-thin text-lg">B</span>
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Bin Li Chan</small>
          </div>
        </div>
      </div>
      <h5>Color</h5>
      <div class="md-list md-whiteframe-z0 bg-primary m-b">
        <div class="md-list-item">
          <div class="md-list-item-left">
            <img src="images/a1.jpg" class="w-full circle">
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
        <div class="md-list-item">
          <div class="md-list-item-left circle lt">
            <i class="mdi-action-grade i-24"></i>
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
      </div>

      <div class="md-list md-whiteframe-z0 teal m-b">
        <div class="md-list-item">
          <div class="md-list-item-left">
            <img src="images/a1.jpg" class="w-full circle">
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
        <div class="md-list-item">
          <div class="md-list-item-left circle lt">
            <i class="mdi-action-grade i-24"></i>
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">Brunch this weekend?</h3>
            <small class="font-thin">Min Li Chan</small>
          </div>
        </div>
      </div>
      
    </div>
  </div>
