<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <span class="pull-left">{{$state.current.data.title}}</span>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <!-- <div class="row"> -->
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Module Name</label>
          <input class="form-control" ng-change="Bfilter()" ng-model="searchKeyword" required>
        </div>
      </div>
      <!-- <div class="col-sm-2" style="padding-top: 25px;">
        <button type="button"  class="btn btn-sm btn-success "><span class="glyphicon glyphicon-search">
          </span>Filter </button>
      </div> -->
    </div>
  </div>
</div>
<div class="table-responsive">
  <div ui-grid="gridOptions" class="ngGrid"></div>
</div>
<!-- </div> -->
