<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        {{$state.current.data.title}}
      </div>
    </div>
  </div>
  <div class="panel-body">
    <input type="hidden" ng-model="acl.principalType" value="ROLE">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Role</label>
          <ui-select ng-model="acl.principalId" ng-change="roleSelect()" required>
            <ui-select-match>
              <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="x in (roles | filter: $select.search)">
              <span ng-bind="x.name"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <div class="row" ng-show="role">
      <div class="col-sm-3">
        <div class="form-group-sm">
          <label>Access Type</label>
          
          <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="selectAllAccess" ng-change="checkAllAccess()" ng-checked="selectedAccessEqual()">
                  All
              </label>
          </div>
          
          <div class="checkbox" ng-repeat="(k,v) in accessType">
              <label>
                    <input 
                    type="checkbox" 
                    name="selectionAccess[]" 
                    ng-click="toggleSelection(v.value)" 
                    ng-checked="(selectedAccess.indexOf(v.value) > -1)"
                    value="v.value">
                  {{ v.label }}
              </label>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <button type="submit" ng-disabled="createForm.$invalid" class="btn btn-primary waves-effect"><i class="mdi-content-save"></i>
      Save</button>
    <a href="#/component/acl" class="btn btn-default waves-effect">Back</a>
  </div>
</div>
<!-- </div> -->
<!-- <div class="table-responsive">
  <div ng-grid="gridOptions" class="ngGrid"></div>
</div> -->
<!-- </div> -->
