<div class="row row-xs">
  <div class="col-sm-12">
    <div class="panel bg-white">
      <div class="panel-body">
        <h4>Selamat datang di aplikasi DICARGO, <strong>{{currentUser.NAME}}</strong></h4>
      </div>
      <!-- <div class="panel-body" ng-if="notif_commercial == true">
        <div class="panel panel-default">
          <div class="panel-heading"><h4><strong>To Do List</h4></strong></div>
          <div class="panel-body">
            <div class="table-responsive">
              <div ng-grid="gridOptions"  class="ngGrid" style="max-height: 1000px;min-height: 500px;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body" ng-if="notif_colletion == true">
        <diV class="row">
          <div class="col-xs-4">
           
          </div>
          <div class="col-xs-5">
          
          </div>
          <div class="col-xs-1">
            <div class="form-group" style="padding-top: 8px">
                <label><b>Filter By :</b></label>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group">
                <ui-select ng-model="filter.Tipe" ng-required="true" ng-change="filterData()">
                    <ui-select-match placeholder="*Pilih Tipe Notif">
                      <span ng-bind="$select.selected.DESCRIPTION"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="x in tipeList | filter: $select.search">
                     <span ng-bind="x.DESCRIPTION"></span>
                  </ui-select-choices>
                </ui-select>
            </div>
          </div>
        </diV>
        <div class="panel panel-default">
            <div class="table-responsive">
              <div ng-grid="gridOptionsNotif"  class="ngGrid" style="max-height: 1000px;min-height: 500px;"></div>
            </div>
      </div>   
    </div> -->
  </div>
</div>
<div class="row row-xs">
  <div class="col-sm-4">
    <div class="panel panel-card p m-b-sm">
      <h5 class="no-margin m-b">Tasks</h5>
      <div class="text-center">
        <div class="inline">
          <div ui-jp="easyPieChart" ui-options="{
              percent: 25,
              lineWidth: 12,
              trackColor: '{{app.color.light}}',
              barColor: '{{app.color.success}}',
              scaleColor: '#fff',
              size: 167,
              lineCap: 'butt',
              color: '{{color}}',
              animate: 3000,
              rotate: 270
            }" ng-init="color = getColor(app.setting.theme.primary, 400)">
            <div class="font-bold text-warning">
              25%
            </div>
          </div>
        </div>
      </div>
      <div>
        <div><strong>5</strong> remainning</div>
        <small class="text-muted">Next task: 19:30 Thu</small>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-card p m-b-sm">
      <h5 class="no-margin m-b">Todos</h5>
      <div class="text-center">
        <div class="inline">
          <div ui-jp="easyPieChart" ui-options="{
              percent: 50,
              lineWidth: 70,
              trackColor: '#fff',
              barColor: '{{app.color.light}}',
              scaleColor: '#fff',
              size: 167,
              lineCap: 'butt',
              rotate: 90,
              animate: 5000
            }">
            <div class="font-bold h3 text-accent">
              50%
            </div>
          </div>
        </div>
      </div>
      <div>
        <div><strong>32</strong> not finished</div>
        <small class="text-muted">432 task finished</small>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-card p m-b-sm">
      <h5 class="no-margin m-b">Sells</h5>
      <div class="text-center" ng-controller="ChartCtrl">
          <div ui-jp="plot" ui-options="
            {{plot_pie}},
            {
              series: { pie: { show: true, innerRadius: 0.4, stroke: { width: 3 }, label: { show: true, threshold: 0.05 } } },
              colors: ['{{app.color.info}}','{{app.color.warning}}','{{app.color.success}}','{{app.color.accent}}'],
              grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },   
              tooltip: true,
              tooltipOpts: { content: '%s: %p.0%' }
            }
          " style="height:168px"></div>
      </div>
      <div class="m-t-xs">
        <div class="font-bold">$432,000</div>
        <small class="text-muted">This month</small>
      </div>
    </div>
  </div>
</div>
<div class="row row-xs" ng-controller="ChartCtrl">
  <div class="col-sm-4">
    <div class="panel panel-card">
      <div class="p">
        Members
      </div>
      <div class="panel-body text-center">
        <div class="m-v-lg">
          Total accounts
          <div class="h2 text-success font-bold">3,421,100</div>
        </div>
      </div>
      <div class="b-t b-light p">
        Composite
        <div class="progress progress-striped progress-sm r m-v-sm">
          <div class="progress-bar {{app.setting.theme.accent}}" style="width:30%">30%</div>
          <div class="progress-bar {{app.setting.theme.warn}}" style="width:20%">20%</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-card">
      <div class="p">
        <label class="md-switch pull-right" ng-init="showData=false">
          <input type="checkbox" ng-model="showData">
          <i class="{{app.setting.theme.accent}}"></i>
        </label>
        <span>Monitor</span> <i class="fa fa-caret-up text-success"></i><span class="text-xs text-muted m-l-xs">1.5%</span>
      </div>
      <div class="panel-body">
        <div ui-jp="plot" ui-refresh="showData" ui-options="
          [
            {
              data: {{plot_line}}, 
              points: { show: true, radius: 4, lineWidth: 3, fillColor: '{{app.color.accent}}'}, 
              lines:  { show: {{showData}}, lineWidth: 0, fill: 0.5, fillColor: '{{app.color.accent}}' }, 
              color:'#fff'
            }
          ],
          {
            series: { shadowSize: 0 },
            xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom' },
            yaxis:{ show: true, font: { color: '#ccc' }},
            grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
            tooltip: true,
            tooltipOpts: { content: '%x.0 is %y.4',  defaultTheme: false, shifts: { x: 0, y: -40 } }
          }
        " style="height:198px">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-card">
      <div class="p">
        Total revenue of this month
      </div>
      <div style="overflow-x: hidden">
        <div style="margin: 0 -4px;" >
          <div ui-jp="plot" ui-options="
            [
              { data: {{plot_line_1}}, points: { show: true, radius: 0}, splines: { show: true, tension: 0.45, lineWidth: 1, fill: 0.2 } },
              { data: {{plot_line_2}}, points: { show: true, radius: 0}, splines: { show: true, tension: 0.45, lineWidth: 1, fill: 1 } }
            ], 
            {
              colors: ['#cccccc', '{{getColor(app.setting.theme.primary, 500)}}'],
              series: { shadowSize: 3 },
              xaxis: { show: false, font: { color: '#ccc' }, position: 'bottom' },
              yaxis:{ show: false, font: { color: '#ccc' }},
              grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
              tooltip: true,
              tooltipOpts: { content: '%x.0 is %y.4',  defaultTheme: false, shifts: { x: 0, y: -40 } }
            }
          " style="height:173px" >
        </div>
        </div>
      </div>
      <div class="panel-footer {{app.setting.theme.primary}} no-b-t">
        <div class="box">
          <div class="box-col">
            <span class="text-md">$30,343 <i class="fa fa-caret-up text-muted"></i></span>
          </div>
          <div class="box-col text-right w-xs">
            <div ng-init="data1=[60,40]" ui-jp="sparkline" ui-options="{{data1}}, {type:'pie', height:25, sliceColors:['{{app.color.warning}}','#fff']}" class="sparkline inline"></div>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>
<div class="row row-xs" ng-controller="VectorMapCtrl">
  <div class="col-md-8">
    <div class="panel panel-card">
      <div class="panel-heading b-b b-light">World Market</div>
      <div class="panel-body">
        <p class="m-b-lg text-muted">World map, world regions, countries and cities.</p>
        <div class="m-b-lg" style="height:243px;" ui-jp="vectorMap" ui-options="{            
          map: 'world_mill_en',
          markers: {{world_markers}},
          normalizeFunction: 'polynomial',
          backgroundColor: '#fff',
          regionsSelectable: true,
          markersSelectable: true,
          regionStyle: {
            initial: {
              fill: '{{app.color.light}}'
            },
            hover: {
              fill: '{{app.color.info}}',
              stroke: '#fff'
            },
          },
          markerStyle: {
            initial: {
              fill: '{{app.color.info}}',
              stroke: '#fff'
            },
            hover: {
              fill: '{{app.color.primary}}',
              stroke: '#fff'
            }
          },
          series: {
            markers: [{
              attribute: 'fill',
              scale: ['{{app.color.primary}}','{{app.color.accent}}', '{{app.color.success}}'],
              values: {{cityAreaData}}
            },{
              attribute: 'r',
              scale: [5, 20],
              values: {{cityAreaData}}
            }]
          }
        }" >
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-card">
      <div class="panel-heading b-b b-light">Infomation</div>
      <div class="list-group no-border no-radius">
        <div class="list-group-item">
          <span class="pull-right">293,200</span>
          <i class="fa fa-fw fa-circle m-r-sm text-info"></i>
          Vatican City
        </div>
        <div class="list-group-item">
          <span class="pull-right">203,000</span>
          <i class="fa fa-fw fa-circle m-r-sm text-success"></i>
          San Marino
        </div>
        <div class="list-group-item">
          <span class="pull-right">180,230</span>
          <i class="fa fa-fw fa-circle m-r-sm text-accent"></i>
          Marshall Islands
        </div>
        <div class="list-group-item">
          <span class="pull-right">130,100</span>
          <i class="fa fa-fw fa-circle m-r-sm text-accent-lt"></i>
          Maldives
        </div>
        <div class="list-group-item">
          <span class="pull-right">98,000</span>
          <i class="fa fa-fw fa-circle m-r-sm text-primary"></i>
          Palau
        </div>
        <div class="list-group-item">
          <span class="pull-right">130,100</span>
          <i class="fa fa-fw fa-circle m-r-sm text-muted-lt"></i>
          Maldives
        </div>
        <div class="list-group-item">
          <span class="pull-right">98,000</span>
          <i class="fa fa-fw fa-circle m-r-sm text-muted-lt"></i>
          Palau
        </div>
        <div class="list-group-item">
          <span class="pull-right">130,100</span>
          <i class="fa fa-fw fa-circle m-r-sm text-muted-lt"></i>
          Maldives
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <form>
        <textarea class="form-control no-border p-md" rows="1" placeholder="Write something..."></textarea>
      </form>
      <div class="lt p">
        <button md-ink-ripple class="md-btn md-raised pull-right p-h-md {{app.setting.theme.accent}}">Post</button>
        <ul class="nav nav-pills nav-sm">
          <li><a href><i class="fa fa-camera"></i></a></li>
          <li><a href><i class="fa fa-video-camera"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row row-sm">
      <div class="col-xs-6">
        <div class="card">
          <div class="card-heading">
            <h2>Trending</h2>
            <small>Guess what you would like</small>
          </div>
          <div class="list-group list-group-lg">
            <a href class="list-group-item text-ellipsis">
              <span class="pull-right">
                <i class="mdi-action-trending-up i-20 text-muted-dk"></i>
              </span>
              #TheWalkingDead
            </a>
            <a href class="list-group-item text-ellipsis">
              <span class="pull-right">
                <i class="mdi-action-trending-neutral i-20 text-muted-dk"></i>
              </span>
              #Survivor
            </a>
            <a href class="list-group-item text-ellipsis">
              <span class="pull-right">
                <i class="mdi-action-trending-down i-20 text-muted-dk"></i>
              </span>
              #Whitehouse
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card {{app.setting.theme.primary}}">
          <div class="card-heading">
            <h2>Top Search</h2>
            <small>Something really cool</small>
          </div>
          <div class="list-group list-group-lg no-bg">
            <a href class="list-group-item">
              <span class="pull-right">
                1
              </span>
              #Story
            </a>
            <a href class="list-group-item">
              <span class="pull-right">
                2
              </span>
              #Nature
            </a>
            <a href class="list-group-item">
              <span class="pull-right">
                3
              </span>
              #Sleeping
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-sm">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-heading">
            <a href class="pull-left w-32 m-r">
              <img src="images/a6.jpg" class="w-full img-circle">
            </a>
            <div class="clear">
              <a href class="font-bold block">James Brogan</a>
              <div class="text-xxs font-thin text-muted">Public - 28 March</div>
            </div>
          </div>
          <div class="item">
            <img src="images/c2.jpg" class="w-full" alt="Washed Out">
            <div class="bottom text-white p-md">
              Title
            </div>
          </div>
          <a md-ink-ripple="" class="md-btn md-raised md-fab m-r md-fab-offset pull-right bg-white">23</a>
          <div class="card-body">
            <h3 class="no-margin m-b">Paracosm</h3>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </div>
        </div> 
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-heading">
            <a href class="pull-left w-32 m-r">
              <img src="images/a3.jpg" class="w-full img-circle">
            </a>
            <div class="clear">
              <a href class="font-bold block">James Brogan</a>
              <div class="text-xxs font-thin text-muted">Public - 28 March</div>
            </div>
          </div>
          <div class="item">
            <a href><img src="images/c4.jpg" class="w-full" alt="Washed Out"></a>
            <div class="bottom text-white p-md">
              Title
            </div>
          </div>
          <div class="card-body">
            <h3 class="no-margin m-b">Paracosm</h3>
            <small>
              Words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </small>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-heading">
            <a href class="pull-left w-32 m-r">
              <img src="images/a5.jpg" class="w-full img-circle">
            </a>
            <div class="clear">
              <a href class="font-bold block">James Brogan</a>
              <div class="text-xxs font-thin text-muted">Public - 28 March</div>
            </div>
          </div>
          <div class="item">
            <a href><img src="images/c6.jpg" class="w-full" alt="Washed Out"></a>
            <div class="bottom text-white p-md">
              Title
            </div>
          </div>
          <div class="card-body">
            <h3 class="no-margin m-b">Paracosm</h3>
            <small>
              Words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </small>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-heading">
            <a href class="pull-left w-32 m-r">
              <img src="images/a7.jpg" class="w-full img-circle">
            </a>
            <div class="clear">
              <a href class="font-bold block">James Brogan</a>
              <div class="text-xxs font-thin text-muted">Public - 28 March</div>
            </div>
          </div>
          <div class="item">
            <a href><img src="images/c8.jpg" class="w-full" alt="Washed Out"></a>
            <div class="bottom text-white p-md">
              Title
            </div>
          </div>
          <div class="card-body">
            <h3 class="no-margin m-b">Paracosm</h3>
            <small>
              Words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </small>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-heading">
            <a href class="pull-left w-32 m-r">
              <img src="images/a8.jpg" class="w-full img-circle">
            </a>
            <div class="clear">
              <a href class="font-bold block">James Brogan</a>
              <div class="text-xxs font-thin text-muted">Public - 28 March</div>
            </div>
          </div>
          <div class="item">
            <a href><img src="images/c9.jpg" class="w-full" alt="Washed Out"></a>
            <div class="bottom text-white p-md">
              Title
            </div>
          </div>
          <div class="card-body">
            <h3 class="no-margin m-b">Paracosm</h3>
            <small>
              Words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center m-b">
        <i class="fa fa-circle-o-notch fa-spin text-lg text-muted-lt"></i>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-heading">
        <h2 class="font-thin">Interesting People</h2>
        <small>Follow your favorites</small>
      </div>
      <div class="card-tools">
        <ul class="list-inline">
          <li class="dropdown">
            <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
              <i class="mdi-navigation-more-vert text-md"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
              <li><a href>Action</a></li>
              <li><a href>Another action</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="card-divider"></div>
      <div class="card-body">
        <a href class="m-r-xs inline">
          <img src="images/a4.jpg" class="w-40 img-circle">
        </a>
        <a href class="m-r-xs inline">
          <img src="images/a5.jpg" class="w-40 img-circle">
        </a>
        <a href class="m-r-xs inline">
          <img src="images/a6.jpg" class="w-40 img-circle">
        </a>
        <a href class="m-r-xs inline">
          <img src="images/a7.jpg" class="w-40 img-circle">
        </a>
        <a class="btn btn-rounded btn-info">99+</a>
      </div>
    </div>
    <div class="card">
      <div class="card-heading">
        <h2>Events</h2>
        <small>You activities</small>
      </div>
      <div class="card-body">
        <div class="streamline b-l b-accent m-b m-l">
          <div class="sl-item sl-item-md">
            <div class="sl-icon">
              <i class="fa fa-check text-muted-dk"></i>
            </div>
            <div class="sl-content">
              <div class="text-muted-dk">Just now</div>
              <p>Finished task <a href class="text-info">#features 4</a>.</p>
            </div>
          </div>
          <div class="sl-item sl-item-md b-info">
            <div class="sl-icon">
              <i class="fa fa-twitter text-info"></i>
            </div>
            <div class="sl-content">
              <div class="text-muted-dk">11:30</div>
              <p><a href>@Jessi</a> retwit your post</p>
            </div>
          </div>
          <div class="sl-item b-primary b-l">
            <div class="sl-content">
              <div class="text-muted-dk">10:30</div>
              <p>Call to customer <a href class="text-info">Jacob</a> and discuss the detail.</p>
            </div>
          </div>
          <div class="sl-item sl-item-md b-warning">
            <div class="sl-icon">
              <i class="fa fa-bolt text-warning"></i>
            </div>
            <div class="sl-content">
              <div class="text-muted-dk">3 days ago</div>
              <p><a href class="text-info">Jessi</a> commented your post.</p>
            </div>
          </div>
          <div class="sl-item b-info">
            <div class="sl-content">
              <div class="text-muted-dk">Thu, 10 Mar</div>
              <p>Trip to the moon</p>
            </div>
          </div>
          <div class="sl-item b-info">
            <div class="sl-content">
              <div class="text-muted-dk">Sat, 5 Mar</div>
              <p>Prepare for presentation</p>
            </div>
          </div>
          <div class="sl-item">
            <div class="sl-content">
              <div class="text-muted-dk">Sun, 11 Feb</div>
              <p><a href class="text-info">Jessi</a> assign you a task <a href class="text-info">Mockup Design</a>.</p>
            </div>
          </div>
          <div class="sl-item">
            <div class="sl-content">
              <div class="text-muted-dk">Thu, 17 Jan</div>
              <p>Follow up to close deal</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <ul class="list-group no-bg no-borders pull-in">
      <li class="list-group-item">
        <a herf="" class="pull-left w-40 m-r">
          <img src="images/a0.jpg" alt="..." class="w-full img-circle">
        </a>
        <div class="clear text-ellipsis">
          <div><a href="">Joge Lucky</a></div>
          <small class="text-muted-dk">Art director, Movie Cut</small>
        </div>
      </li>
      <li class="list-group-item">
        <a herf="" class="pull-left w-40 m-r">
          <img src="images/a1.jpg" alt="..." class="w-full img-circle">
        </a>
        <div class="clear text-ellipsis">
          <div><a href="">Folisise Chosielie</a></div>
          <small class="text-muted-dk">Musician, Player</small>
        </div>
      </li>
      <li class="list-group-item">
        <a herf="" class="pull-left w-40 m-r">
          <img src="images/a2.jpg" alt="..." class="w-full img-circle">
        </a>
        <div class="clear text-ellipsis">
          <div><a href="">Aron Gonzalez</a></div>
          <small class="text-muted-dk">Designer</small>
        </div>
      </li>
      <li class="list-group-item">
        <a herf="" class="pull-left w-40 m-r">
          <img src="images/a4.jpg" alt="..." class="w-full img-circle">
        </a>
        <div class="clear text-ellipsis">
          <div><a href="">Chris Fox</a></div>
          <small class="text-muted-dk">Designer, Blogger</small>
        </div>
      </li>
      <li class="list-group-item">
        <a herf="" class="pull-left w-40 m-r">
          <img src="images/a5.jpg" alt="..." class="w-full img-circle">
        </a>
        <div class="clear text-ellipsis">
          <div><a href="">Mogen Polish</a></div>
          <small class="text-muted-dk">Writter, Mag Editor</small>
        </div>
      </li>
      <li class="list-group-item">
        <a herf="" class="pull-left w-40 m-r">
          <img src="images/a6.jpg" alt="..." class="w-full img-circle">
        </a>
        <div class="clear text-ellipsis">
          <div><a href="">Joge Lucky</a></div>
          <small class="text-muted-dk">Art director, Movie Cut</small>
        </div>
      </li>
      <li class="list-group-item">
        <a herf="" class="pull-left w-40 m-r">
          <img src="images/a7.jpg" alt="..." class="w-full img-circle">
        </a>
        <div class="clear text-ellipsis">
          <div><a href="">Folisise Chosielie</a></div>
          <small class="text-muted-dk">Musician, Player</small>
        </div>
      </li>
      <li class="list-group-item">
        <a herf="" class="pull-left w-40 m-r">
          <img src="images/a8.jpg" alt="..." class="w-full img-circle">
        </a>
        <div class="clear text-ellipsis">
          <div><a href="">Aron Gonzalez</a></div>
          <small class="text-muted-dk">Designer</small>
        </div>
      </li>
      <li class="list-group-item">
        <a herf="" class="pull-left w-40 m-r">
          <img src="images/a9.jpg" alt="..." class="w-full img-circle">
        </a>
        <div class="clear text-ellipsis">
          <div><a href="">Mogen Polish</a></div>
          <small class="text-muted-dk">Writter, Mag Editor</small>
        </div>
      </li>
    </ul>
  </div>
</div>

  <div class="row row-xs">
    <div class="col-sm-4">
      <div class="panel panel-card p m-b-sm">
        <h5 class="no-margin m-b">Tasks</h5>
        <div class="text-center">
          <div class="inline">
            <div ui-jp="easyPieChart" ui-options="{
                percent: 25,
                lineWidth: 12,
                trackColor: '{{app.color.light}}',
                barColor: '{{app.color.success}}',
                scaleColor: '#fff',
                size: 167,
                lineCap: 'butt',
                color: '{{color}}',
                animate: 3000,
                rotate: 270
              }" ng-init="color = getColor(app.setting.theme.primary, 400)">
              <div class="font-bold text-warning">
                25%
              </div>
            </div>
          </div>
        </div>
        <div>
          <div><strong>5</strong> remainning</div>
          <small class="text-muted">Next task: 19:30 Thu</small>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card p m-b-sm">
        <h5 class="no-margin m-b">Todos</h5>
        <div class="text-center">
          <div class="inline">
            <div ui-jp="easyPieChart" ui-options="{
                percent: 50,
                lineWidth: 70,
                trackColor: '#fff',
                barColor: '{{app.color.light}}',
                scaleColor: '#fff',
                size: 167,
                lineCap: 'butt',
                rotate: 90,
                animate: 5000
              }">
              <div class="font-bold h3 text-accent">
                50%
              </div>
            </div>
          </div>
        </div>
        <div>
          <div><strong>32</strong> not finished</div>
          <small class="text-muted">432 task finished</small>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card p m-b-sm">
        <h5 class="no-margin m-b">Sells</h5>
        <div class="text-center" ng-controller="ChartCtrl">
            <div ui-jp="plot" ui-options="
              {{plot_pie}},
              {
                series: { pie: { show: true, innerRadius: 0.4, stroke: { width: 3 }, label: { show: true, threshold: 0.05 } } },
                colors: ['{{app.color.info}}','{{app.color.warning}}','{{app.color.success}}','{{app.color.accent}}'],
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },   
                tooltip: true,
                tooltipOpts: { content: '%s: %p.0%' }
              }
            " style="height:168px"></div>
        </div>
        <div class="m-t-xs">
          <div class="font-bold">$432,000</div>
          <small class="text-muted">This month</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-xs" ng-controller="ChartCtrl">
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="p">
          Members
        </div>
        <div class="panel-body text-center">
          <div class="m-v-lg">
            Total accounts
            <div class="h2 text-success font-bold">3,421,100</div>
          </div>
        </div>
        <div class="b-t b-light p">
          Composite
          <div class="progress progress-striped progress-sm r m-v-sm">
            <div class="progress-bar {{app.setting.theme.accent}}" style="width:30%">30%</div>
            <div class="progress-bar {{app.setting.theme.warn}}" style="width:20%">20%</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="p">
          <label class="md-switch pull-right" ng-init="showData=false">
            <input type="checkbox" ng-model="showData">
            <i class="{{app.setting.theme.accent}}"></i>
          </label>
          <span>Monitor</span> <i class="fa fa-caret-up text-success"></i><span class="text-xs text-muted m-l-xs">1.5%</span>
        </div>
        <div class="panel-body">
          <div ui-jp="plot" ui-refresh="showData" ui-options="
            [
              {
                data: {{plot_line}}, 
                points: { show: true, radius: 4, lineWidth: 3, fillColor: '{{app.color.accent}}'}, 
                lines:  { show: {{showData}}, lineWidth: 0, fill: 0.5, fillColor: '{{app.color.accent}}' }, 
                color:'#fff'
              }
            ],
            {
              series: { shadowSize: 0 },
              xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom' },
              yaxis:{ show: true, font: { color: '#ccc' }},
              grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
              tooltip: true,
              tooltipOpts: { content: '%x.0 is %y.4',  defaultTheme: false, shifts: { x: 0, y: -40 } }
            }
          " style="height:198px">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="p">
          Total revenue of this month
        </div>
        <div style="overflow-x: hidden">
          <div style="margin: 0 -4px;" >
            <div ui-jp="plot" ui-options="
              [
                { data: {{plot_line_1}}, points: { show: true, radius: 0}, splines: { show: true, tension: 0.45, lineWidth: 1, fill: 0.2 } },
                { data: {{plot_line_2}}, points: { show: true, radius: 0}, splines: { show: true, tension: 0.45, lineWidth: 1, fill: 1 } }
              ], 
              {
                colors: ['#cccccc', '{{getColor(app.setting.theme.primary, 500)}}'],
                series: { shadowSize: 3 },
                xaxis: { show: false, font: { color: '#ccc' }, position: 'bottom' },
                yaxis:{ show: false, font: { color: '#ccc' }},
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
                tooltip: true,
                tooltipOpts: { content: '%x.0 is %y.4',  defaultTheme: false, shifts: { x: 0, y: -40 } }
              }
            " style="height:173px" >
          </div>
          </div>
        </div>
        <div class="panel-footer {{app.setting.theme.primary}} no-b-t">
          <div class="box">
            <div class="box-col">
              <span class="text-md">$30,343 <i class="fa fa-caret-up text-muted"></i></span>
            </div>
            <div class="box-col text-right w-xs">
              <div ng-init="data1=[60,40]" ui-jp="sparkline" ui-options="{{data1}}, {type:'pie', height:25, sliceColors:['{{app.color.warning}}','#fff']}" class="sparkline inline"></div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  <!-- <div class="row row-xs" ng-controller="VectorMapCtrl">
    <div class="col-sm-8">
      <div class="panel panel-card">
        <div class="panel-heading b-b b-light">World Market</div>
        <div class="panel-body">
          <p class="m-b-lg text-muted">World map, world regions, countries and cities.</p>
          <div class="m-b-lg" style="height:243px;" ui-jp="vectorMap" ui-options="{            
            map: 'world_mill_en',
            markers: {{world_markers}},
            normalizeFunction: 'polynomial',
            backgroundColor: '#fff',
            regionsSelectable: true,
            markersSelectable: true,
            regionStyle: {
              initial: {
                fill: '{{app.color.light}}'
              },
              hover: {
                fill: '{{app.color.info}}',
                stroke: '#fff'
              },
            },
            markerStyle: {
              initial: {
                fill: '{{app.color.info}}',
                stroke: '#fff'
              },
              hover: {
                fill: '{{app.color.primary}}',
                stroke: '#fff'
              }
            },
            series: {
              markers: [{
                attribute: 'fill',
                scale: ['{{app.color.primary}}','{{app.color.accent}}', '{{app.color.success}}'],
                values: {{cityAreaData}}
              },{
                attribute: 'r',
                scale: [5, 20],
                values: {{cityAreaData}}
              }]
            }
          }" >
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="panel-heading b-b b-light">Infomation</div>
        <div class="list-group no-border no-radius">
          <div class="list-group-item">
            <span class="pull-right">293,200</span>
            <i class="fa fa-fw fa-circle m-r-sm text-info"></i>
            Vatican City
          </div>
          <div class="list-group-item">
            <span class="pull-right">203,000</span>
            <i class="fa fa-fw fa-circle m-r-sm text-success"></i>
            San Marino
          </div>
          <div class="list-group-item">
            <span class="pull-right">180,230</span>
            <i class="fa fa-fw fa-circle m-r-sm text-accent"></i>
            Marshall Islands
          </div>
          <div class="list-group-item">
            <span class="pull-right">130,100</span>
            <i class="fa fa-fw fa-circle m-r-sm text-accent-lt"></i>
            Maldives
          </div>
          <div class="list-group-item">
            <span class="pull-right">98,000</span>
            <i class="fa fa-fw fa-circle m-r-sm text-primary"></i>
            Palau
          </div>
          <div class="list-group-item">
            <span class="pull-right">130,100</span>
            <i class="fa fa-fw fa-circle m-r-sm text-muted-lt"></i>
            Maldives
          </div>
          <div class="list-group-item">
            <span class="pull-right">98,000</span>
            <i class="fa fa-fw fa-circle m-r-sm text-muted-lt"></i>
            Palau
          </div>
          <div class="list-group-item">
            <span class="pull-right">130,100</span>
            <i class="fa fa-fw fa-circle m-r-sm text-muted-lt"></i>
            Maldives
          </div>
        </div>
      </div>
    </div>
  </div> -->
