<div class="panel panel-default" style="padding: 50px">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <span class="pull-left">{{$state.current.data.subtitle}}</span>
        <div class="row col-xs-0 pull-right">
          <div class="col-xs-4"  ng-if="mode == 'view'">
            <button type="button"  ng-click="onExportData()" class="btn btn-sm btn-success">
              <i class="fa fa-print">
              </i> Export
            </button>      
          </div>
        <div class="col-xs-4" >
           <button type="button"  ng-click='onTambah()' class="btn btn-sm btn-success">
            <i class="glyphicon glyphicon-plus">
            </i> Tambah Transaksi
          </button>         
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel-body">
  <div class="row">
  
    <div class="col-xs-3">
      <div class="form-group">
        <label>Nama Barang</label>
        <input class="form-control autocomplete" ng-model="filter.nama_barang" >
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label>Tanggal Transaksi Awal</label>
        <input type="date" class="form-control " ng-model="filter.tgl_transaksi_awal" >
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label>Tanggal Transaksi Akhir</label>
        <input type="date" class="form-control " ng-model="filter.tgl_transaksi_akhir" >
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
      <label>Jenis Barang</label>
      <ui-select ng-model="filter.jenis_barang" placeholder="*Pilih Jenis Barang"  >
          <ui-select-match placeholder="*Pilih Jenis Barang">
          <span ng-bind="$select.selected"></span>
          </ui-select-match>
          <ui-select-choices repeat="data in jenisBarangList | filter: $select.search">
          <span ng-bind="data"></span>
          </ui-select-choices>
      </ui-select>
      </div>
  </div> 
  </div>
  <div class="row">
  
    <div class="col-xs-3">
      <div class="form-group">
      <label>Urutkan Berdasarkan</label>
      <ui-select ng-model="filter.kolom" placeholder="*Pilih Kolom"  >
          <ui-select-match placeholder="*Pilih Kolom">
          <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="data in kolomList | filter: $select.search">
          <span ng-bind="data.name"></span>
          </ui-select-choices>
      </ui-select>
      </div>
  </div> 
  <div class="col-xs-3">
    <div class="form-group">
    <label>Urutkan</label>
    <ui-select ng-model="filter.sort" placeholder="*Pilih urutan"  >
        <ui-select-match placeholder="*Pilih urutan">
        <span ng-bind="$select.selected.name"></span>
        </ui-select-match>
        <ui-select-choices repeat="data in urutanList | filter: $select.search">
        <span ng-bind="data.name"></span>
        </ui-select-choices>
    </ui-select>
    </div>
</div> 
  </div>
  <div class="row">
    <div class="col-xs-3">
      <button type="button" ng-click="Bfilter()" class="btn btn-info"><span class="mdi-action-search"> </span>Filter</button>
      <button type="button" ng-click="Brefresh()" class="btn btn-secondary"><span class="mdi-navigation-cancel"> </span>Reset</button>
    </div>
  </div>
  <br>
  <div class="table-responsive">
    <div ng-grid="gridOptions" class="ngGrid"></div>
  </div>
</div>


