<div class="row row-sm"  style="padding: 50px">
  <div class="col-sm-12">
    <form role="form" name="createForm" >
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
              {{$state.current.data.title}}
            </div>
          </div>
        </div>
        <div class="panel-body">
         
              <div class="panel panel-default">
                <div class="panel-heading">Info Transaksi</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                            <label>Nama Barang</label>
                            <input class="form-control" ng-model="transaction.nama_barang" maxlength="1000"
                                 >
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                            <label>Stok</label>
                            <input class="form-control" ng-model="transaction.stok" type="number" maxlength="100"
                                ng-disabled="disabledIreguler == true">
                            </div>
                        </div>
                        <div class="col-xs-3">
                          <div class="form-group">
                          <label>Jumlah Terjual</label>
                          <input class="form-control" ng-model="transaction.jml_terjual" type="number" maxlength="100"
                              ng-disabled="disabledIreguler == true">
                          </div>
                      </div>
                      <div class="col-xs-3">
                        <div class="form-group">
                        <label>Tanggal Transaksi</label>
                        <input class="form-control" ng-model="transaction.tgl_transaksi" type="date" >
                        </div>
                    </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                            <label>Jenis Barang</label>
                            <ui-select ng-model="transaction.jenis_barang" placeholder="*Pilih Jenis Barang"  >
                                <ui-select-match placeholder="*Pilih Jenis Barang">
                                <span ng-bind="$select.selected"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="data in jenisBarangList | filter: $select.search">
                                <span ng-bind="data"></span>
                                </ui-select-choices>
                            </ui-select>
                            </div>
                        </div> 
                      
                    </div>
                  
                  </div>
                </div>
             
          
          
        </div>
         
      
        <div class="panel-footer">
          <button type="button" class="btn btn-primary"
            
            ng-disabled="createForm.$invalid && !invalidnpwp" ng-click="saveAll()"><i class="mdi-content-save"></i> Save </button>
          <button type="button" class="btn btn-default" 
            ng-click="cancel()"><i class="mdi-content-backspace"></i> Cancel</button>
          <!-- <button type="button" class="btn btn-sm btn-success" ng-show="disabledIreguler == true" ng-click="cancel()"><i
              class="mdi-content-backspace"></i> Back</button> -->
        </div>
      </div>
    </form>
  </div>
</div>
<style>
  table{
    align-items: 'center';
  }
  /* td{
    font-size: 9px;
    padding-right: 0px;
  } */
</style>