<nav ui-nav style="background-color: #00b2c9;">
  <ul class="nav">
    <li class="nav-header m-v-sm hidden-folded">
    </li>
    
    <li class="b-b b {{ menu.activeMenu ? 'active':'' }}" ng-repeat="menu in appMenus">
      <a xs-ink-ripple ng-click="setActiveMenu(menu)" href="#/{{menu.url}}">
        <span class="pull-right text-muted" ng-if="menu.subMenu.length > 0">
          <i class="fa fa-caret-down text-white"></i>
        </span>
        <i  class="icon fa i-20 {{menu.icon ? menu.icon : 'fa-user'}} text-white"></i>
        <span class="font-normal text-white">{{menu.label}}</span>
      </a>
      <ul class="nav nav-sub" ng-if="menu.subMenu.length > 0">
        <li class="b-b b {{ menu_1.activeMenu ? 'active':'' }}" ng-repeat="menu_1 in menu.subMenu">
          <a xs-ink-ripple ng-click="setActiveMenu(menu_1)" href="#/{{menu_1.url}}">
            <span class="pull-right text-muted" ng-if="menu_1.subMenu.length > 0">
              <i class="fa fa-caret-down text-white"></i>
            </span>
            <i class="icon i-20 fa {{menu_1.icon}} text-white"></i>
            <span class="font-normal text-white">{{menu_1.label}}</span>
          </a>
          <ul class="nav nav-sub" ng-if="menu_1.subMenu.length > 0">
            <li class="b-b b {{ menu_2.activeMenu ? 'active':'' }}" ng-repeat="menu_2 in menu_1.subMenu">
              <a xs-ink-ripple ng-click="setActiveMenu(menu_2)" href="#/{{menu_2.url}}">
                <span class="pull-right text-muted" ng-if="menu_2.subMenu.length > 0">
                  <i class="fa fa-caret-down text-white"></i>
                </span>
                <i class="icon i-20 fa {{menu_2.icon}}"></i>
                <span class="font-normal text-white">{{menu_2.label}}</span>
              </a>
              <ul class="nav nav-sub" ng-if="menu_2.subMenu.length > 0">
                <li class="b-b b {{ menu_3.activeMenu ? 'active':'' }}" ng-repeat="menu_3 in menu_2.subMenu">
                  <a xs-ink-ripple ng-click="setActiveMenu(menu_3)" href="#/{{menu_3.url}}">
                    <span class="pull-right text-muted" ng-if="menu_3.subMenu.length > 0">
                      <i class="fa fa-caret-down"></i>
                    </span>
                    <i class="icon i-20 fa {{menu_3.icon}}"></i>
                    <span class="font-normal text-white">{{menu_3.label}}</span>
                  </a>
                  <ul class="nav nav-sub" ng-if="menu_3.subMenu.length > 0">
                    <li class="b-b b {{ menu_4.activeMenu ? 'active':'' }}" ng-repeat="menu_4 in menu_3.subMenu">
                      <a xs-ink-ripple ng-click="setActiveMenu(menu_4)" href="#/{{menu_4.url}}">
                        <span class="pull-right text-muted" ng-if="menu_4.subMenu.length > 0">
                          <i class="fa fa-caret-down"></i>
                        </span>
                        <i class="icon i-20 fa {{menu_4.icon}}"></i>
                        <span class="font-normal text-white">{{menu_4.label}}</span>
                      </a>
                      <ul class="nav nav-sub" ng-if="menu_4.subMenu.length > 0">
                        <li class="b-b b" ui-sref-active="active" ng-repeat="menu_5 in menu_4.subMenu">
                            <a xs-ink-ripple href="#/{{menu_5.url}}">{{ menu_5.label }}</a>
                        </li>
                      </ul>
                    </li> 
                  </ul>
                </li> 
              </ul>
            </li> 
          </ul>
        </li>       
      
      </ul>
    </li>       
  

<!-- 
    <li class="b-b b {{ menu.activeMenu ? 'active':'' }}" ng-repeat="menu in appMenus">
      <a xs-ink-ripple ng-click="setActiveMenu(menu)" href="#/{{menu.url}}">
        <span class="pull-right text-muted" ng-if="menu.subMenu.length > 0">
          <i class="fa fa-caret-down"></i>
        </span>
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">{{menu.label}}</span>
      </a>
      <ul class="nav nav-sub" ng-if="menu.subMenu.length > 0">
        <li class="b-b b" ui-sref-active="active" ng-repeat="sub in menu.subMenu">
            <a xs-ink-ripple href="#/{{sub.url}}">{{ sub.label }}</a>
        </li>
      </ul>
    </li> 
-->

    <!-- <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.collectionshistory">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">Collections History</span>
      </a>
    </li> -->
    <!-- <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.bucketlist">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">Nasabah Binaan</span>
      </a>
    </li> -->

   <!--  <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.entrycoll">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">Entry Coll Report</span>
      </a>
    </li> -->
<!--     <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.collector">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">Collector</span>
      </a>
    </li>   -->  
<!--      <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.sp">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">SP</span>
      </a>
    </li> 
    <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.teamsummary">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">Team Summary</span>
      </a>
    </li>   -->

    <!-- <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.user">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal"> List User</span>
      </a>
    </li>  -->
<!--     <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.user_new">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">New User</span>
      </a>
    </li>   -->  

    <!-- <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.user_edit">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">Edit User</span>
      </a>
    </li>  -->
    <!-- <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.sp">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal"> List SP</span>
      </a>
    </li> --> 
<!--     <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.sp_new">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">New SP</span>
      </a>
    </li>    --> 
<!-- 
    <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.sp_edit"> -->
        <!-- <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span> -->
  <!--<i class="icon fa fa-user i-20"></i>
        <span class="font-normal">Edit SP</span>
      </a> -->
      <!-- <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.region">Data Region</a>
        </li>
      </ul> -->
    <!-- </li>  -->
    <!-- <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.systemconfig">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">System Config</span>
      </a>
    </li> -->
     <!-- <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.systemconfig_new">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">Add Config</span>
      </a>
    </li> -->
    <!-- <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.infocabang">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">Master Cabang</span>
      </a>
    </li> -->
    <!-- <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.printform">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">Cetak SP</span>
      </a>
    </li>   --> 
    <!-- <li class="b-b b">
      <a xs-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
        <i class="icon fa fa-files-o i-20"></i>
        <span class="font-normal">Report</span>
      </a>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.upload">Report Upload</a>
        </li>
      </ul>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.tunggakan">Report Tunggakan</a>
        </li>
      </ul>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.angsur">Report Angsur</a>
        </li>
      </ul>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.daftar">Report Daftar</a>
        </li>
      </ul>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.auditrail">Report Auditrail</a>
        </li>
      </ul>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.treatment">Report Treatment</a>
        </li>
      </ul>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.visit">Report Visit</a>
        </li>
      </ul>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.visitdetail">Report Detail</a>
        </li>
      </ul>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.treatmentlast">Report Last Treatment</a>
        </li>
      </ul>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.rincian">Report Rincian</a>
        </li>
      </ul>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.summary">Report Summary</a>
        </li>
      </ul>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.restrukturisasi">Report Restruct</a>
        </li>
      </ul>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.rekap">Report rekap</a>
        </li>
      </ul>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.coll">Report Coll Prod</a>
        </li>
      </ul>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.upload">Report Coll Res</a>
        </li>
      </ul>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.propurcreport">Report Coll Prod</a>
        </li>
      </ul>
    </li>  -->
    <!-- <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.collresult">
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">CIF Info</span>
      </a>
    </li> -->   

   <!--  <li class="b-b b">
      <a xs-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
        <i class="icon fa fa-flag i-20"></i>
        <span class="font-normal">Region</span>
      </a>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.region">Data Region</a>
        </li>
      </ul>
    </li>

      <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.analisa"> -->
        <!-- <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span> -->
     <!--    <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">Analisa</span>
      </a> -->
      <!-- <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.region">Data Region</a>
        </li>
      </ul> -->
  <!--   </li>

    <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.collresult"> -->
        <!-- <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span> -->
   <!--      <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">Coll Result</span>
      </a> -->
      <!-- <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.region">Data Region</a>
        </li>
      </ul> 
    </li> -->
  <!--   <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.collhistory">
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">Coll History</span>
      </a>
      <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.region">Data Region</a>
        </li>
      </ul>
   </li> -->    
    <!-- <li class="b-b b" ui-sref-active="active">
      <a xs-ink-ripple ui-sref="component.printform">
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">Print Form</span>
      </a> --> 
      <!-- <ul class="nav nav-sub">
        <li class="b-b b" ui-sref-active="active">
          <a xs-ink-ripple ui-sref="component.region">Data Region</a>
        </li>
      </ul> -->
    <!-- </li> -->
   

    <!-- <li class="b-b b">
      <a xs-ink-ripple ui-sref="component.upload">
        <i class="icon mdi-file-cloud-upload i-20"></i>
        <span>Upload</span>
      </a>
    </li> -->
   <!-- <li class="b-b b" ui-sref-active="active"> -->
      <!-- <a xs-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
        <i class="icon fa fa-user i-20"></i>
        <span class="font-normal">M.Stock</span>
      </a> -->
      <!-- <ul class="nav nav-sub"> -->
        <!-- <li class="b-b b">
          <a xs-ink-ripple ui-sref="component.developer">Developer</a>
        </li> -->
    <!--     <li class="b-b b"">
          <a xs-ink-ripple>Proper</a>
        </li>
        <li class="b-b b">
          <a xs-ink-ripple>Unit Type</a>
        </li>
        <li class="b-b b">
          <a xs-ink-ripple ui-sref="component.unit">Unit</a>
        </li>
        <li class="b-b b">
          <a xs-ink-ripple ui-sref="component.dhnbi">DhnBi</a>
        </li>
        <li class="b-b b">
          <a xs-ink-ripple ui-sref="component.idebslik">Ideb Slik</a>
        </li>
        <li class="b-b b">
          <a xs-ink-ripple ui-sref="component.properhistory">Proper History</a>
        </li>
        <li class="b-b b">
          <a xs-ink-ripple ui-sref="component.prescreening">Prescreening</a>
        </li>
        <li class="b-b b">
          <a xs-ink-ripple ui-sref="component.cashflow_new">new cashflow</a>
        </li>
        <li class="b-b b">
          <a xs-ink-ripple ui-sref="component.neraca_new">new necara</a>
        </li> -->
      <!-- </ul> -->
    <!-- </li> -->
    <!-- <li class="b-b b">
      <a xs-ink-ripple ui-sref="component.acl">
        <i class="icon fa fa-user i-20"></i>
        <span>ACL</span>
      </a>
    </li>
    <li class="b-b b">
      <a xs-ink-ripple ui-sref="component.menu">
        <i class="icon fa fa-user i-20"></i>
        <span>Menu</span>
      </a>
    </li> -->
    <!-- <li class="b-b b">
      <a xs-ink-ripple ui-sref="component.province">
        <i class="icon fa fa-user i-20"></i>
        <span>Master Provinsi</span>
      </a>
    </li>
    <li class="b-b b">
      <a xs-ink-ripple ui-sref="component.regency">
        <i class="icon fa fa-user i-20"></i>
        <span>Master Kabupaten</span>
      </a>
    </li>
    <li class="b-b b">
      <a xs-ink-ripple ui-sref="component.district">
        <i class="icon fa fa-user i-20"></i>
        <span>Master Kecamatan</span>
      </a>
    </li>
    <li class="b-b b">
      <a xs-ink-ripple ui-sref="component.subdistrict">
        <i class="icon fa fa-user i-20"></i>
        <span>Master Kelurahan</span>
      </a>
    </li>
    <li class="b-b b">
      <a xs-ink-ripple ui-sref="component.financinghistory">
        <i class="icon fa fa-user i-20"></i>
        <span>Riwayat Pembiayaan</span>
      </a>
    </li> -->
    <li class="b-b b">
      <a xs-ink-ripple ui-sref="auth.logout">
        <i class="icon mdi-action-exit-to-app i-20 text-white"></i>
        <span class="text-white">Logout</span>
      </a>
    </li>
  </ul>
</nav>
