<div class="box bg-white aside sidenav" style="width: 100%;background-color: #00b2c9;">
  <!-- <div class="navbar md-whiteframe-z1 no-radius " style="background-color: #E0E0E0;"> -->
    <div class="navbar md-whiteframe-z1 no-radius " style="background-color: #00b2c9;">
      <!-- brand ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary"-->
      <a class="navbar-brand" href="#/component/dashboard">
        <img src="images/logo.png" style="max-height: 45px; margin-left: -5px; margin-top: 8px;">
        <span class="hidden-folded inline" style="font-size: 15px; margin-top: -8888888888888px; margin-left: 15px;">
          <!-- {{app.codename}}.  -->
          Dicargo
          Version 
        <!-- {{app.version}}  -->
        1.21.07.15
      </span>
      </a>
      <!-- / brand -->
  </div>
  <div class="box-row" style="background-color: #00b2c9;">
    <div class="box-cell scrollable hover">
      <div class="box-inner">
        <div class="p hidden-folded" ng-class="$state.current.data.theme ? $state.current.data.theme.primary+'-50' : app.setting.theme.primary+'-50'" style="background-image:url(images/bg.png); background-size:cover">
          <a class="block m-t-sm">
          <!-- <a class="block m-t-sm" ui-toggle-class="hide, show" target="#nav, #account"> -->
            <span class="block font-bold">{{currentUser.name}}</span>
            <!-- <span class="pull-right auto">
              <i class="fa inline fa-caret-down"></i>
              <i class="fa none fa-caret-up"></i>
            </span> -->
            {{currentUser.email}}
          </a>
        </div>
        <div id="nav" ng-include="'views/partials/aside.nav.uikit.html'" style=" width: 100%;"></div>
        <div id="account" class="hide m-v-xs">
          <nav>
            <ul class="nav">
              <!-- <li>
                <a md-ink-ripple ui-sref="page.profile">
                  <i class="icon mdi-action-perm-contact-cal i-20"></i>
                  <span>My Profile</span>
                </a>
              </li> -->
              <!-- <li>
                <a md-ink-ripple ui-sref="page.settings">
                  <i class="icon mdi-action-settings i-20"></i>
                  <span>Settings</span>
                </a>
              </li> -->
              <!-- <li>
                <a md-ink-ripple ui-sref="auth.logout">
                  <i class="icon mdi-action-exit-to-app i-20"></i>
                  <span>Logout</span>
                </a>
              </li> -->
  <!--             <li class="m-v-sm b-b b"></li> -->
              <!-- <li>
                <a md-ink-ripple ui-fullscreen>
                  <i class="icon mdi-navigation-fullscreen i-24"></i>
                  <span>Fullscreen</span>
                </a>
              </li>
              <li>
                <div class="nav-item">
                  <label class="md-check">
                    <input type="checkbox" ng-model="app.setting.asideFolded">
                    <i class="{{app.setting.theme.accent}} no-icon"></i>
                    <span class="hidden-folded">Folded aside</span>
                  </label>
                </div>
              </li>
              <li class="p p-v-sm hidden-folded">
                <div class="m-b-sm">Theming:</div>
                <div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'indigo', accent: 'deep-purple', warn: 'amber'}">
                    <span class="indigo col-xs-4 box-col"></span>
                    <span class="deep-purple col-xs-4 box-col"></span>
                    <span class="amber col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'green', accent: 'light-green', warn: 'lime'}">
                    <span class="green col-xs-4 box-col"></span>
                    <span class="light-green col-xs-4 box-col"></span>
                    <span class="lime col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'deep-purple', accent: 'blue', warn: 'light-blue'}">
                    <span class="deep-purple col-xs-4 box-col"></span>
                    <span class="blue col-xs-4 box-col"></span>
                    <span class="light-blue col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'blue', accent: 'teal', warn: 'amber'}">
                    <span class="blue col-xs-4 box-col"></span>
                    <span class="teal col-xs-4 box-col"></span>
                    <span class="amber col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'cyan', accent: 'light-blue', warn: 'blue'}">
                    <span class="cyan col-xs-4 box-col"></span>
                    <span class="light-blue col-xs-4 box-col"></span>
                    <span class="blue col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'pink', accent: 'purple', warn: 'deep-purple'}">
                    <span class="pink col-xs-4 box-col"></span>
                    <span class="purple col-xs-4 box-col"></span>
                    <span class="deep-purple col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'blue-grey', accent: 'teal-200', warn: 'lime'}">
                    <span class="blue-grey col-xs-4 box-col"></span>
                    <span class="teal-200 col-xs-4 box-col"></span>
                    <span class="lime col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'bg-dark', accent: 'green-300', warn: 'amber-300'}">
                    <span class="bg-dark col-xs-4 box-col"></span>
                    <span class="green-300 col-xs-4 box-col"></span>
                    <span class="amber-300 col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'bg-white', accent: 'green', warn: 'teal'}">
                    <span class="bg-white col-xs-4 box-col"></span>
                    <span class="green col-xs-4 box-col"></span>
                    <span class="teal col-xs-4 box-col"></span>
                  </div>
                </div>
              </li> -->
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <ul class="nav b-t b" style="background-color: #E0E0E0;">
      <li>
        <a href="/" target="_blank" md-ink-ripple>
          <i class="icon mdi-action-help i-20"></i>
          <span>Copyright @2021 DICARGO</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

