<div class="box ">
  <!--style="background-color: #C2A986;"  Content Navbar ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary-->
  <div class="navbar md-whiteframe-z1 no-radius" style="background-color: #E0E0E0;">
    <!-- Open side - Naviation on mobile -->
    <a md-ink-ripple ng-click="openAside()" ng-hide="$state.current.data.child" class="navbar-item pull-left visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>
    <!-- / -->
    <!-- GoBack - Back to parent if $state has the param 'child' -->
    <a md-ink-ripple class="navbar-item pull-left" ng-click="goBack()"  style="color: black;"ng-show="$state.current.data.child" ><i class="mdi-navigation-arrow-back i-24"></i></a>
    <!-- / -->
    <!-- Page title - Bind to $state's title -->
    <div class="navbar-item pull-left h4" style="color: black;" ng-bind="$state.current.data.title"></div>
    <!-- / -->
    <!-- Common tools -->
    <ul class="nav navbar-tool pull-right">
      <li>
        <a md-ink-ripple ui-sref="auth.logout">
          <i  style="color: black;" class="icon mdi-action-exit-to-app i-20"></i>
          <span style="color:  black;">Logout</span>
        </a>
      </li>
    </ul>
    <div class="navbar-item pull-right h4" style="height: 40px; font-size: 16px; padding: 0px; margin: 0px;border: 0px solid">
      <div style="height: 10px; padding: 0px; margin: 0px">
      <span class="hidden-folded m-1 inline" style="margin-right: 16px; color:  black;"> Selamat datang, <b>{{currentUser.NAME}}</b> [<b>{{currentUser.ID}} {{currentUser.Role[0].ROLE_NAME}} <span ng-if="currentUser.Role[1]"> {{currentUser.Role[1].ROLE_NAME }}</span><span ng-if="currentUser.Role[2]">, {{currentUser.Role[2].ROLE_NAME }}</span> </b> <b>{{currentBranch.BRANCH_NAME}}</b>]</span>
      </div>
      <div class="row" style="height: 15px; border: 0px solid; padding: 0px; margin: 0px">
       <p id="date" style="position: absolute; right: 100px; top: 35%; color: black; font-size: small;"></p>
        
        <!-- <div class="col-xs-4"></div>
        <div class="col-xs-8 text-right" style="padding-top: 5px">
          <span style="margin-right: 0px; color: #fff;font-size: 12px; text-align: right; ">Role : [ {{currentUser.Role[0].ROLE_NAME }} <span ng-if="currentUser.Role[1]">, {{currentUser.Role[1].ROLE_NAME }}</span><span ng-if="currentUser.Role[2]">, {{currentUser.Role[2].ROLE_NAME }}</span>]</span>
        </div> -->
      </div>
    </div>
    
    <div class="pull-right" ui-view="navbar@"></div>
    <!-- / -->
    <!-- Search form -->
    <div id="search" class="pos-abt w-full h-full" ng-show="app.search.show" ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">
      <div class="box">
        <div class="box-col w-56 text-center">
          <!-- hide search form -->
          <a md-ink-ripple class="navbar-item inline" ng-click="app.search.show=false; app.search.content=''"><i class="mdi-navigation-arrow-back i-24"></i></a>
        </div>
        <div class="box-col v-m">
          <!-- bind to app.search.content -->
          <input class="form-control input-lg no-bg no-border" placeholder="Search" ng-model="app.search.content">
        </div>
        <div class="box-col w-56 text-center">
          <a md-ink-ripple class="navbar-item inline"><i class="mdi-av-mic i-24"></i></a>
        </div>
      </div>
    </div>
    <!-- / -->
  </div>
  <!-- Content -->
  <div class="box-row">
    <div class="box-cell">
      <div class="box-inner padding" ui-view>
      </div>
    </div>
  </div>
  <!-- / -->
</div>
<script>
  function showTime(){
    n =  new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    h = n.getHours();
    mi = n.getMinutes();
    s = n.getSeconds();

    d = (d < 10) ? "0" + d : d;
    m = (m < 10) ? "0" + m : m;
    h = (h < 10) ? "0" + h : h;
    mi = (mi < 10) ? "0" + mi : mi;
    s = (s < 10) ? "0" + s : s;

    document.getElementById("date").innerHTML = h + ":"+ mi + ":" + s + " " + d + "/" + m + "/" + y;

    setTimeout(showTime, 1000);
  }

  showTime();
  
</script>
