  <!-- aside -->
  <md-sidenav id="aside" class="app-aside md-sidenav-left sidenav" ng-class="{'folded': app.setting.asideFolded || $state.current.data.folded}" ui-view="aside@" md-component-id="aside" id="md-sidenav1" onmouseover="navOver()" onmouseleave="navLeave()" >
  </md-sidenav> 
  <!-- / aside -->
  
  <!-- content -->
  <div id="content" class="app-content" role="main"  ui-view="content@">
  </div>
  <!-- / content -->


<div class="modal fade" id="user" data-backdrop="false" >
  <div class="right w-xl bg-white md-whiteframe-z2" ng-include="'views/partials/aside.tpl.user.html'" >
  </div>
</div>

<div class="modal fade" id="chat" data-backdrop="false">
  <div class="right w-xxl bg-white md-whiteframe-z2" ng-include="'views/partials/aside.tpl.chat.html'">
  </div>
</div>
<script type="text/javascript">
    function navOver(){
     document.getElementsByClassName("sidenav")[0].style.width="100%"
     document.getElementsByClassName("sidenav")[0].style.minWidth="370px"

   
    }
     function navLeave(){
      document.getElementsByClassName("sidenav")[0].style.width="70px"
      document.getElementsByClassName("sidenav")[0].style.minWidth="70px"
    }
</script>
