  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <form>
          <textarea class="form-control no-border p-md" rows="1" placeholder="Write something..."></textarea>
        </form>
        <div class="lt p">
          <button md-ink-ripple class="md-btn md-raised pull-right p-h-md {{app.setting.theme.accent}}">Post</button>
          <ul class="nav nav-pills nav-sm">
            <li><a href><i class="fa fa-camera"></i></a></li>
            <li><a href><i class="fa fa-video-camera"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row row-sm">
        <div class="col-xs-6">
          <div class="card">
            <div class="card-heading">
              <h2>Trending</h2>
              <small>Guess what you would like</small>
            </div>
            <div class="list-group list-group-lg">
              <a href class="list-group-item text-ellipsis">
                <span class="pull-right">
                  <i class="mdi-action-trending-up i-20 text-muted-dk"></i>
                </span>
                #TheWalkingDead
              </a>
              <a href class="list-group-item text-ellipsis">
                <span class="pull-right">
                  <i class="mdi-action-trending-neutral i-20 text-muted-dk"></i>
                </span>
                #Survivor
              </a>
              <a href class="list-group-item text-ellipsis">
                <span class="pull-right">
                  <i class="mdi-action-trending-down i-20 text-muted-dk"></i>
                </span>
                #Whitehouse
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="card {{app.setting.theme.primary}}">
            <div class="card-heading">
              <h2>Top Search</h2>
              <small>Something really cool</small>
            </div>
            <div class="list-group list-group-lg no-bg">
              <a href class="list-group-item">
                <span class="pull-right">
                  1
                </span>
                #Story
              </a>
              <a href class="list-group-item">
                <span class="pull-right">
                  2
                </span>
                #Nature
              </a>
              <a href class="list-group-item">
                <span class="pull-right">
                  3
                </span>
                #Sleeping
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-sm">
        <div class="col-sm-12">
          <!-- <div class="card">
            <div class="card-heading">
              <a href class="pull-left w-32 m-r">
                <img src="images/a6.jpg" class="w-full img-circle">
              </a>
              <div class="clear">
                <a href class="font-bold block">James Brogan</a>
                <div class="text-xxs font-thin text-muted">Public - 28 March</div>
              </div>
            </div>
            <div class="item">
              <img src="images/c2.jpg" class="w-full" alt="Washed Out">
              <div class="bottom text-white p-md">
                Title
              </div>
            </div>
            <a md-ink-ripple="" class="md-btn md-raised md-fab m-r md-fab-offset pull-right bg-white">23</a>
            <div class="card-body">
              <h3 class="no-margin m-b">Paracosm</h3>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </p>
            </div>
          </div> -->
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-heading">
              <a href class="pull-left w-32 m-r">
                <img src="images/a3.jpg" class="w-full img-circle">
              </a>
              <div class="clear">
                <a href class="font-bold block">James Brogan</a>
                <div class="text-xxs font-thin text-muted">Public - 28 March</div>
              </div>
            </div>
            <div class="item">
              <a href><img src="images/c4.jpg" class="w-full" alt="Washed Out"></a>
              <div class="bottom text-white p-md">
                Title
              </div>
            </div>
            <div class="card-body">
              <h3 class="no-margin m-b">Paracosm</h3>
              <small>
                Words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </small>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-heading">
              <a href class="pull-left w-32 m-r">
                <img src="images/a5.jpg" class="w-full img-circle">
              </a>
              <div class="clear">
                <a href class="font-bold block">James Brogan</a>
                <div class="text-xxs font-thin text-muted">Public - 28 March</div>
              </div>
            </div>
            <div class="item">
              <a href><img src="images/c6.jpg" class="w-full" alt="Washed Out"></a>
              <div class="bottom text-white p-md">
                Title
              </div>
            </div>
            <div class="card-body">
              <h3 class="no-margin m-b">Paracosm</h3>
              <small>
                Words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </small>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-heading">
              <a href class="pull-left w-32 m-r">
                <img src="images/a7.jpg" class="w-full img-circle">
              </a>
              <div class="clear">
                <a href class="font-bold block">James Brogan</a>
                <div class="text-xxs font-thin text-muted">Public - 28 March</div>
              </div>
            </div>
            <div class="item">
              <a href><img src="images/c8.jpg" class="w-full" alt="Washed Out"></a>
              <div class="bottom text-white p-md">
                Title
              </div>
            </div>
            <div class="card-body">
              <h3 class="no-margin m-b">Paracosm</h3>
              <small>
                Words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </small>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-heading">
              <a href class="pull-left w-32 m-r">
                <img src="images/a8.jpg" class="w-full img-circle">
              </a>
              <div class="clear">
                <a href class="font-bold block">James Brogan</a>
                <div class="text-xxs font-thin text-muted">Public - 28 March</div>
              </div>
            </div>
            <div class="item">
              <a href><img src="images/c9.jpg" class="w-full" alt="Washed Out"></a>
              <div class="bottom text-white p-md">
                Title
              </div>
            </div>
            <div class="card-body">
              <h3 class="no-margin m-b">Paracosm</h3>
              <small>
                Words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center m-b">
          <i class="fa fa-circle-o-notch fa-spin text-lg text-muted-lt"></i>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-heading">
          <h2 class="font-thin">Interesting People</h2>
          <small>Follow your favorites</small>
        </div>
        <div class="card-tools">
          <ul class="list-inline">
            <li class="dropdown">
              <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                <i class="mdi-navigation-more-vert text-md"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                <li><a href>Action</a></li>
                <li><a href>Another action</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="card-divider"></div>
        <div class="card-body">
          <a href class="m-r-xs inline">
            <img src="images/a4.jpg" class="w-40 img-circle">
          </a>
          <a href class="m-r-xs inline">
            <img src="images/a5.jpg" class="w-40 img-circle">
          </a>
          <a href class="m-r-xs inline">
            <img src="images/a6.jpg" class="w-40 img-circle">
          </a>
          <a href class="m-r-xs inline">
            <img src="images/a7.jpg" class="w-40 img-circle">
          </a>
          <a class="btn btn-rounded btn-info">99+</a>
        </div>
      </div>
      <div class="card">
        <div class="card-heading">
          <h2>Events</h2>
          <small>You activities</small>
        </div>
        <div class="card-body">
          <div class="streamline b-l b-accent m-b m-l">
            <div class="sl-item sl-item-md">
              <div class="sl-icon">
                <i class="fa fa-check text-muted-dk"></i>
              </div>
              <div class="sl-content">
                <div class="text-muted-dk">Just now</div>
                <p>Finished task <a href class="text-info">#features 4</a>.</p>
              </div>
            </div>
            <div class="sl-item sl-item-md b-info">
              <div class="sl-icon">
                <i class="fa fa-twitter text-info"></i>
              </div>
              <div class="sl-content">
                <div class="text-muted-dk">11:30</div>
                <p><a href>@Jessi</a> retwit your post</p>
              </div>
            </div>
            <div class="sl-item b-primary b-l">
              <div class="sl-content">
                <div class="text-muted-dk">10:30</div>
                <p>Call to customer <a href class="text-info">Jacob</a> and discuss the detail.</p>
              </div>
            </div>
            <div class="sl-item sl-item-md b-warning">
              <div class="sl-icon">
                <i class="fa fa-bolt text-warning"></i>
              </div>
              <div class="sl-content">
                <div class="text-muted-dk">3 days ago</div>
                <p><a href class="text-info">Jessi</a> commented your post.</p>
              </div>
            </div>
            <div class="sl-item b-info">
              <div class="sl-content">
                <div class="text-muted-dk">Thu, 10 Mar</div>
                <p>Trip to the moon</p>
              </div>
            </div>
            <div class="sl-item b-info">
              <div class="sl-content">
                <div class="text-muted-dk">Sat, 5 Mar</div>
                <p>Prepare for presentation</p>
              </div>
            </div>
            <div class="sl-item">
              <div class="sl-content">
                <div class="text-muted-dk">Sun, 11 Feb</div>
                <p><a href class="text-info">Jessi</a> assign you a task <a href class="text-info">Mockup Design</a>.</p>
              </div>
            </div>
            <div class="sl-item">
              <div class="sl-content">
                <div class="text-muted-dk">Thu, 17 Jan</div>
                <p>Follow up to close deal</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <ul class="list-group no-bg no-borders pull-in">
        <li class="list-group-item">
          <a herf="" class="pull-left w-40 m-r">
            <img src="images/a0.jpg" alt="..." class="w-full img-circle">
          </a>
          <div class="clear text-ellipsis">
            <div><a href="">Joge Lucky</a></div>
            <small class="text-muted-dk">Art director, Movie Cut</small>
          </div>
        </li>
        <li class="list-group-item">
          <a herf="" class="pull-left w-40 m-r">
            <img src="images/a1.jpg" alt="..." class="w-full img-circle">
          </a>
          <div class="clear text-ellipsis">
            <div><a href="">Folisise Chosielie</a></div>
            <small class="text-muted-dk">Musician, Player</small>
          </div>
        </li>
        <li class="list-group-item">
          <a herf="" class="pull-left w-40 m-r">
            <img src="images/a2.jpg" alt="..." class="w-full img-circle">
          </a>
          <div class="clear text-ellipsis">
            <div><a href="">Aron Gonzalez</a></div>
            <small class="text-muted-dk">Designer</small>
          </div>
        </li>
        <li class="list-group-item">
          <a herf="" class="pull-left w-40 m-r">
            <img src="images/a4.jpg" alt="..." class="w-full img-circle">
          </a>
          <div class="clear text-ellipsis">
            <div><a href="">Chris Fox</a></div>
            <small class="text-muted-dk">Designer, Blogger</small>
          </div>
        </li>
        <li class="list-group-item">
          <a herf="" class="pull-left w-40 m-r">
            <img src="images/a5.jpg" alt="..." class="w-full img-circle">
          </a>
          <div class="clear text-ellipsis">
            <div><a href="">Mogen Polish</a></div>
            <small class="text-muted-dk">Writter, Mag Editor</small>
          </div>
        </li>
        <li class="list-group-item">
          <a herf="" class="pull-left w-40 m-r">
            <img src="images/a6.jpg" alt="..." class="w-full img-circle">
          </a>
          <div class="clear text-ellipsis">
            <div><a href="">Joge Lucky</a></div>
            <small class="text-muted-dk">Art director, Movie Cut</small>
          </div>
        </li>
        <li class="list-group-item">
          <a herf="" class="pull-left w-40 m-r">
            <img src="images/a7.jpg" alt="..." class="w-full img-circle">
          </a>
          <div class="clear text-ellipsis">
            <div><a href="">Folisise Chosielie</a></div>
            <small class="text-muted-dk">Musician, Player</small>
          </div>
        </li>
        <li class="list-group-item">
          <a herf="" class="pull-left w-40 m-r">
            <img src="images/a8.jpg" alt="..." class="w-full img-circle">
          </a>
          <div class="clear text-ellipsis">
            <div><a href="">Aron Gonzalez</a></div>
            <small class="text-muted-dk">Designer</small>
          </div>
        </li>
        <li class="list-group-item">
          <a herf="" class="pull-left w-40 m-r">
            <img src="images/a9.jpg" alt="..." class="w-full img-circle">
          </a>
          <div class="clear text-ellipsis">
            <div><a href="">Mogen Polish</a></div>
            <small class="text-muted-dk">Writter, Mag Editor</small>
          </div>
        </li>
      </ul>
    </div>
  </div>
